{% extends 'base.html' %}

{% block title %}Edit {{ user.username }}{% endblock %}

{% block content %}
<div class="container">
  <h1>Edit Profile: {{ user.username }}</h1>
  <form action="{% url 'edit_user' user.id %}" method="post">
  {% csrf_token %}
  <label for="fname">First Name</label>
  <input type="text" name="fname" id="fname" value="{{ user.first_name }}" class="form-control"/>
  <label for="lname">Last Name</label>
  <input type="text" name="lname" id="lname" value="{{ user.last_name }}" class="form-control"/>
  <label for="email">Email</label>
  <input type="text" name="email" id="email" value="{{ user.email }}" class="form-control"/><br/>
  <input type="submit" value="Save Changes" class="btn btn-default"/>
  </form>
</div>
{% endblock %}
