{% extends 'base.html' %}

{% block title %}Edit {{ user.username }}{% endblock %}

{% block content %}
<h1>Edit Profile: {{ user.username }}</h1>
<form action="{% url 'edit_user' user.id %}" method="post">
{% csrf_token %}
  first name: <input type="text" name="fname" id="fname" value="{{ user.first_name }}"/><br />
  last name:  <input type="text" name="lname" id="lname" value="{{ user.last_name }}"/><br />
  email:      <input type="text" name="email" id="email" value="{{ user.email }}"/>
  <input type="submit" value="Save Changes"/>
</form>
{% endblock %}
